/* وتعيين اسم ومسار الخط CSS إلى ملف Cairo-SemiBold.ttf إضافة نوع الخط */

@font-face {
    font-family: ar-font;
    src: url(../font/Acme-Regular.ttf);
}

/*تطبيق الخط الجديد على جميع عناصر الصفحة */

body {
    font-family: ar-font;
}

header {
    background-image: url(../img/header-bg.jpg);
    background-size: cover;
    background-position: center center;
}

header .brand {
    padding: 20px 10px;
    margin: 32px auto 15px;
    border-bottom: 5px solid #454545;
    /* جعل عرض الخط بعرض الشعار */
    display: inline-block;
}

/* تحديد حجم الخط وشدته والتباعد بين الأسطر واللون للعنوان الرئيسي */

header .page-heading h1 {
    font-size: 40px;
    font-weight: bold;
    line-height: 60px;
    color: #fff;
}

/* وجعل عرض الفقرة 40% من قيمة عرض الصفحة p تحديد حجم الخط والتباعد بين الأسطر واللون للفقرة */

header .page-heading p {
    width: 40%;
    font-size: 18px;
    line-height: 25px;
    color: #e7e7e7;
}

/* تطبيق تنسيقات الخط على الأرقام، وجعلها في أسطر مختلفة */

header .counter .is-countdown .countdown-section .countdown-amount {
    display: block;
    font-size: 35px;
    font-weight: bold;
    color: rgb(212, 4, 4);
}

/* تطبيق تنسيقات الخط على العامل الزمني، وجعله في أسطر مختلفة */

header .counter .is-countdown .countdown-section .countdown-period {
    display: block;
    font-size: 25px;
    font-weight: bold;
    color: #ffffff;
}

/* تظهر في خط واحد وتحديد هامش لها count-section جعل جميع عناصر الصنف */

header .counter .is-countdown .countdown-section {
    display: inline-block;
    margin: 0 20px;
}

/* تطبيق هامش وحاشية على العداد في الصفحة */

header .counter {
    margin: 30px auto;
    padding: 20px;
}

header .send-notification p {
    font-size: 15px;
    color: #fff;
}

/* تنسيق الخط والحدود داخل نموذج البريد الإلكتروني */

header .send-notification .input-group input {
    border-radius: 0;
    font-size: 15px;
    font-family: ar-font;
    color: #e6e6e6;
    border-width: 2px;
    border-color: #e6e6e6;
    height: auto;
}

header .send-notification .input-group button, footer button {
    border-radius: 0;
    background-color: #ffce00;
    padding: 1px;
}

/* تنسيق زر نموذج الإرسال */

footer .top-footer .overlay .input-group button {
    border-radius: 0;
    background-color: #393939;
    padding: 3px;
}

/* تغير لون الزر عند مرور مؤشر الفأرة فوقه */

footer .top-footer .overlay .input-group button:hover, footer .top-footer .overlay .input-group button:focus {
    box-shadow: 0 0 0;
    border-color: transparent;
}

* تنسيق صندوق الإدخال */ footer .top-footer .overlay .input-group input:hover, footer .top-footer .overlay .input-group input:focus {
    box-shadow: 0 0 0;
    border-color: #fff;
}

/* تصغير حجم نموذج إدخال البريد الإلكتروني ليصبح 30% من حجم الصفحة */

header .send-notification .input-group, footer .input-group {
    width: 30%;
    margin: 0 auto;
}

/* تغير موضع رسائل التحذير وإخفائها */

header .send-notification .input-group .alert, footer .alert {
    display: none;
    position: absolute;
    top: 110%;
    right: 0;
    left: 0;
}

/*- تنسيق إلغاء التأثيرات الحركية فى شاشات الجوال -*/

/*- animate.css فى حالة استخدام الاصدار رقم 4 من مكتبة -*/

section.features h2 {
    margin-bottom: 20px;
    font-size: 30px;
    color: #555;
}

/* تطبيق حاشية للعنوان الجديد */

section.features {
    padding: 50px 0;
}

/* ضبط قيم الحاشية والهامش والحد */

section.features .media {
    border: 2px solid #fafafa;
    padding: 20px 5px;
    margin-bottom: 10px;
    position: relative;
    max-height: 170px;
}

/* تنسيق الخط في العنوان */

section.features .media .media-body h5 {
    font-size: 20px;
    color: #555;
}

/* تنسيق الخط في الفقرات النصية */

section.features .media .media-body p {
    font-size: 15px;
    line-height: 15px;
    color: #9c9c9c;
}

/* إضافة الصورة إلى خلفية تذييل الصفحة وتوسيطها */

footer {
    background-image: url(../img/footer-bg.jpg);
    background-size: cover;
    background-position: center center;
}

/* إضافة الطبقة الصفراء الشفافة على الخلفية وضبط الحاشية الخاصة بها */

footer .top-footer .overlay {
    background-color: rgba(255, 204, 0, 0.7);
    padding: 30px 0;
}

/* التنسيقات المطبقة على خط العنوان */

footer .top-footer .overlay h3 {
    font-size: 20px;
    width: 60%;
    margin: 0 auto 15px;
}

/* تنسيق اللون وضبط الحاشية في تذييل الصفحة */

footer .contact .overlay {
    background-color: rgba(28, 28, 28, 0.7);
    padding: 60px 0 10px;
    color: #fff;
}

/* h3 تنسيق اللون وحجم الخط في العنوان */

footer .contact .overlay h3 {
    font-size: 30px;
    margin: 0 auto 30px;
}

footer .contact .overlay ul li a {
    width: 40px;
    height: 40px;
    line-height: 40px;
    display: block;
    background-color: rgba(255, 255, 255, 0.14);
    color: #fff;
    font-size: 1.1em;
}

/* تطبيق هامش على الأيقونات */

footer .contact .overlay ul li {
    margin: 0 4px 7px;
}

/* تغير لون خلفية الأيقونات عند مرور مؤشر الفأرة عليها */

footer .contact .overlay ul li a.facebook:hover {
    background-color: #3b5999;
}

footer .contact .overlay ul li a.twitter:hover {
    background-color: #55acee;
}

footer .contact .overlay ul li a.linkedin:hover {
    background-color: #0077B5;
}

footer .contact .overlay ul li a.instagram:hover {
    background-color: #e4405f;
}

/* إضافة خط أفقي تحت الأيقونات */

footer .contact .overlay hr {
    width: 25%;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    margin-top: 40px;
}

/* تنسيق أيقونة الظرف وإضافة مسافة بينها وبين البريد الإلكتروني */

footer .contact .overlay p a {
    color: #eeeeee;
}

footer .contact .overlay p a i {
    color: #ffce00;
    margin-left: 5px;
}

/*تنسيق مسؤول عن درجة نعومة التأثير*/

footer .contact .overlay ul li a {
    -webkit-transition: all 0.3s ease;
    Transition: all 0.3s ease;
}

@media (max-width: 768px) {
    .animate__bounceIn {
        animation-name: none !important;
    }
    .animate__fadeInUp {
        animation-name: none !important;
    }
    .animate__fadeInDown {
        animation-name: none !important;
    }
    .animate__zoomIn {
        animation-name: none !important;
    }
    .top-footer .form-group {
        width: 135%;
        position: relative;
        left: -120px;
       
    }
    footer .top-footer .overlay {
        padding: 36px 0;
    }
    footer .top-footer .overlay h3{
        position: relative;
        top: -25px;
    }
}
@media (max-width: 575px){
    .top-footer .form-group {
        width: 180%;
        position: relative;
        left: -192px;
    }
    footer .top-footer .overlay {
        padding: 36px 0;
    }

    }
}